* {
    margin: 0;
    padding: 0;
}

.game-section {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.centered-both {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.centered-vertically {
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.centered-horizontally {
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#intro-section-click {
    background: white;
    font-family: Arial, Helvetica, sans-serif;
}

#intro-section {
    background: #2a2a2a;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.intro-section_container {
    display: flex;
    align-items: center;
    filter: drop-shadow(0px 0px 15px white);
    animation: glow 4s infinite;
}

@keyframes glow {
    50% {
        filter: drop-shadow(0px 0px 15px black);
    }
    100% {
        filter: drop-shadow(0px 0px 15px white);
    }
}

.intro-section_label {
    text-transform: uppercase;
    margin: 0;
    padding: 0;
    color: silver;
    font-size: 12px;
}
.intro-section_title {
    margin: 0;
    padding: 0;
    font-size: 36px;
}

.intro-section_logo {
    width: 96px;
}
